<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<header class="hero-unit" id="banner">
	<div class="container" id = "mainContainer">
		<img class="img-responsive" id = "fcc-logo" src="assets/images/fcc.png" alt="FCC"> 
		<h1>Nightlife Coordination</h1>
		<p class="lead">"Where do you want to go today?"</p>
	</div>
</header>
<div class = "container">
	<div class = "row">
		<div class = "col-xs-0 col-sm-1 col-md-2 col-lg-3"></div>
		<div class = "col-xs-12 col-sm-10 col-md-8 col-lg-6" id = "searchDiv">
			<input type="text" name="searchString" class="form-control" ng-model="mainCtrl.searchString" 
				ng-keypress="($event.charCode==13 && mainCtrl.searchString.length > 0)? mainCtrl.newSearch() : return"
				required/>
		</div>
		<div class = "col-xs-0 col-sm-1 col-md-2 col-lg-3"></div>
		<div class = "col-xs-2 col-sm-3 col-md-4 col-lg-4"></div>
		<div class = "col-xs-8 col-sm-6 col-md-4 col-lg-4">
			<div class = "col-lg-12 searchButton" id = "searchDiv">
				<a href="#" ng-click="mainCtrl.searchString.length > 0 && mainCtrl.newSearch()">Search Location</a>
			</div>
		</div>
		<div class = "col-xs-2 col-sm-3 col-md-4 col-lg-4"></div>
		<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12" id="results">
			<div id="resultsSection" class="row pull-center">
				<div id="resultContentList" >
					<div class="result-list-container" ng-repeat="venue in mainCtrl.venues">
						<div class = "row">
							<div class = "col-xs-3 col-sm-3 col-md-1 col-lg-2" id="resultImage">
								<img src="{{venue.imageUrl}}"  class="img-responsive img-circle center-block">
								<div id = "countGoers" ng-show="venue.countUsers > 0">
									<h4><b>{{venue.countUsers}} going </b></h4>
								</div>
							</div>
							<div class = "col-xs-9 col-sm-9 col-md-11 col-lg-10" id="resultImage">
								<b>Name:</b> {{venue.name}} <br>
								<b>Description:</b> {{venue.description}} <br>
								<br>
								<button type="button" 
									class="btn btn-success" 
									ng-click="mainCtrl.goVenue($index)"
									ng-show="venue.userGoing == 'NO' && mainCtrl.userID.length > 0"
									>GO</button>
								<button type="button" class="btn btn-danger" 
									ng-click="mainCtrl.cancelVenue($index)"
									ng-show="venue.userGoing == 'YES' && mainCtrl.userID.length > 0">Cancel</button>
								<a class="btn btn-info" href="{{venue.url}}" target="_blank" role="button">+Info</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>