<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<header class="hero-unit" id="banner">
   <div class="container" id = "mainContainer">
      <img class="img-responsive" id = "fcc-logo" src="assets/images/fcc.png" alt="FCC"> 
      <h1>Nightlife Coordination</h1>
      <p class="lead">"Where do you want to go today?"</p>
   </div>
</header>

<div class = "col-lg-12" id = "searchDiv">
  <input type="text" name="searchString" class="form-control" ng-model="mainCtrl.searchString" 
      ng-keypress="($event.charCode==13 && mainCtrl.searchString.length > 0)? mainCtrl.newSearch() : return"
      required/>
  
</div>
<div class = "col-lg-12 searchButton" id = "searchDiv">
  <a href="#" ng-click="mainCtrl.searchString.length > 0 && mainCtrl.newSearch()">Search Location</a>
</div>

<div class = "col-lg-12" id="results">
   <div id="resultsSection" class="row pull-center">
         <div id="resultContentList" >
            <div class="result-list-container" ng-repeat="venue in mainCtrl.venues">
               <!--    <a href="https://en.wikipedia.org/wiki?curid='+ pageid +'\" ><h2>title</h2><p>extract</p></a> -->
               Name: {{venue.name}} <br>
               Description: {{venue.description}} <br>
               Users going: {{venue.countUsers}}
            </div>
         </div>
   </div>
</div>